<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <!-- KVLite Configuration Header (START) -->
    <section name="KVLiteConfiguration" type="PommaLabs.KVLite.Configuration, PommaLabs.KVLite" />
    <!-- KVLite Configuration Header (END) -->
  </configSections>

  <!-- KVLite Configuration Section (START) -->
  <KVLiteConfiguration DefaultCachePath="PersistentCache.sqlite" MaxCacheSizeInMB="5" MaxLogSizeInMB="1"
                       OperationCountBeforeSoftCleanup="5" />
  <!-- KVLite Configuration Section (END) -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>