<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="persistentCache" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
    <section name="volatileCache" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
  </configSections>
  <persistentCache>
    <add key="DefaultCacheFile" value="PersistentCache.sqlite" />
    <add key="DefaultPartition" value="KVLite.DefaultPartition" />
    <add key="DefaultStaticIntervalInDays" value="30" />
    <add key="DefaultInsertionCountBeforeAutoClean" value="64" />
    <add key="DefaultMaxCacheSizeInMB" value="1024" />
    <add key="DefaultMaxJournalSizeInMB" value="32" />
  </persistentCache>
  <volatileCache>
    <add key="DefaultCacheName" value="VolatileCache" />
    <add key="DefaultPartition" value="KVLite.DefaultPartition" />
    <add key="DefaultStaticIntervalInDays" value="30" />
    <add key="DefaultInsertionCountBeforeAutoClean" value="64" />
    <add key="DefaultMaxCacheSizeInMB" value="256" />
    <add key="DefaultMaxJournalSizeInMB" value="32" />
  </volatileCache>
</configuration>
